// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.button-jira-login {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 1000;
}

.info-panel {
  position: absolute;
  width: 300px;
  z-index: $zindex-fixed;
}

marker {
  fill: $gray-700;
}

.issueLink {
  stroke: $gray-700;
}

.taskLink {
  stroke: $gray-400;
}

.issuetype-1, .issuetype-12, .issuetype-10301 {
  fill: #ff5630;
}

.issuetype-2, .issuetype-4 {
  fill: #36b37e;
}

.issuetype-3, .issuetype-5, .issuetype-10000, .issuetype-10501 {
  fill: #2684ff;
}

.issuetype-6, .issuetype-7 {
  fill: #6554c0;
}

.issuetype-8, .issuetype-9, .issuetype-10, .issuetype-20, .issuetype-21, 
.issuetype-10100, .issuetype-10200, .issuetype-10300 {
  fill: $gray-600;
}

.issuetype-11, .issuetype-22 {
  fill: #8993a4;
}

.issuetype-10401 {
  fill: #ff991f;
}